<h2>Сосредоточенность на одном</h2>

<p> Сосредоточенность на одном - от англ. <i>???</i> - ??.</p>
<p>
    Сосредоточенность на одном - это <strong>???.</strong></p>
  <p>Главная цель сосредоточенности на одном - научиться <b>???</b>.</p>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Теория
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

<br>
<h3>Практика</h3>

<p>Выберете для себя несколько упражнений (не больше 5) и практикуйте их, пока они не станут частью вашей жизни.
  Упражнения можно менять, главное - не пытайтесь делать всё за раз.</p>
  <ul><li>Зафиксируйте себя в настоящем. Полностью находитесь в этом моменте. </li>
    <li>Делайте одну вещь за раз. Отмечайте своё желание отвлечься, быть в другом месте, мысленно переместиться куда-то, делать что-то другое, делать несколько дел за раз - и потом вернитесь к чему-то одному.</li>
    <li>Когда вы едите, только ешьте.</li>
    <li>Когда вы идёте, только идите.</li>
    <li>Когда вы волнуетесь, только волнуйтесь. </li>
    <li>Когда вы планируете, только планируйте.</li>
    <li>Когда вы вспоминаете, только вспоминайте.</li>
    <li>Избавьтесь от отвлекающих факторов. Если другие действия, или другие мысли, или сильные чувства отвлекают вас, возвращайтесь к тому, что вы делаете - снова, снова, и снова. </li>
    <li>Сконцентрируйтесь. Если вы обнаружите, что делаете две вещи одновременно, остановитесь - вернитесь к чему-то одному (противоположность многозадачности!)</li>

</ul>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Упражнения
    </mat-panel-title>
  </mat-expansion-panel-header>
<section class="exercise">
  <mat-card class='exercise-card'>
      <mat-card-title class='exercise-card__title'>Идеи для тренировки Сосредоточенности на одном
    </mat-card-title>
    <mat-card-content>
      <ul>
<li><b>Осознанность при приготовлении чаяили кофе. </b> Приготовьте чайник чая или кофе, чтобы подать гостю или выпить самому. Делайте каждое движение медленно, осознанно. Не позволяйте ни одному движению происходить неосознанно. Знайте, что ваша рука поднимает чайник за ручку. Знайте, что вы наливаете в чашку ароматный теплый чай или кофе. Делайте шаг за шагом осознанно.  Дышите мягче и глубже, чем обычно. Задержите дыхание, если ваш разум сбивается.</li>
<li><b>Осознанность при мытье посуды.</b> Вымойте посуду осознанно, как будто каждая чашка является объектом созерцания. Считайте каждую миску священной. Следите за своим дыханием, чтобы ваш разум не отвлёкся. Не старайтесь закончить работу поскорее. Считайте мытье посуды самой важной вещью в жизни</li>
<li><b>Осознанность при стирке одежды.</b> Не стирайте слишком много одежды за один раз. Выберите только три или четыре предмета одежды. Найдите наиболее удобное положение стоя или сидя, чтобы предотвратить боль в спине. Трите одежду осознанно. Фокусируйте внимание на каждом движении ваших рук и рук. Обратите внимание на мыло и воду. Когда вы закончите стирку и полоскание, ваш разум и тело будут чувствовать себя такими же чистыми и свежими, как ваша одежда. Не забывайте поддерживать полуулыбку и задерживать дыхание всякий раз, когда ваш разум начинает блуждать.</li>
<li><b>Осознанность при уборке дома.</b> Разделите свою работу на этапы: разложите вещи по местам и уберите книги, почистите унитаз, вычистите ванную комнату, подметите полы и протрите пыль. Отведите хороший промежуток времени для каждой задачи. Двигайтесь медленно, в три раза медленнее, чем обычно. Полностью сосредоточьте свое внимание на каждой задаче. Например, размещая книгу на полке, посмотрите на книгу; осознавайте, что это за книга; осознавайте, что вы сейчас кладётё её на полку; и осознавайте, что вы намереваетесь поместить её в это конкретное место. Осознавайте, что ваша рука тянется к книге и поднимает ее. Избегайте грубых или резких движений. Сохраняйте осознанность дыхания, особенно когда ваши мысли начинают блуждать.</li>
<li><b>Осознанность во время неспешного принятия ванны.</b> Выделите себе 30–45 минут на принятие ванны. Не спешите ни секунды. Пусть с того момента, как вы приготовите воду для ванны, и до того, как наденете чистую одежду, каждое ваше движение будет легким и медленным. Оставайтесь внимательны каждое мгновение.  Направляйте свое внимание на каждую часть вашего тела, без дискриминации или страха. Ощущайте  каждую струю воды на вашем теле. К тому времени, как вы закончите, ваш разум будет чувствовать себя таким же спокойным и легким, как ваше тело. Следите за своим дыханием. Думайте о себе, как о чистом и ароматном летнем пруду с лотосами.</li>
<li><b>Осознанность во время медитации.</b> Усядьтесь удобно на полу или на стуле, выпрямив спину,  обе ноги должны касаться пола. Закройте глаза полностью или слегка откройте их и посмотрите на что-то рядом. С каждым вздохом говорите себе тихо и нежно слово «Один». Когда вы вдыхаете, говорите слово «Один». Когда вы выдыхаете, говорите слово «Один» спокойно и медленно. Постарайтесь собрать весь свой разум и поместить это в это одно слово. Когда ваш разум начинает блуждать, осторожно возвращайтесь к слову «Один». Если вы хотите двигаться, постарайтесь не двигаться. Просто осторожно наблюдайте за желанием двигаться. Продолжайте практику немного после возникновения желания остановиться. Просто осторожно наблюдайте за желанием остановиться.</li>

  </ul>
    </mat-card-content>
  </mat-card>
</section>

</mat-expansion-panel>