<h2>Участие</h2>

<p> Участие - от англ. <i>???</i> - ??.</p>
<p>
    Участие - это <strong>???.</strong></p>
  <p>Главная цель участия - научиться <b>???</b>.</p>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Теория
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

<br>
<h3>Практика</h3>

<p>Выберете для себя несколько упражнений (не больше 5) и практикуйте их, пока они не станут частью вашей жизни.
  Упражнения можно менять, главное - не пытайтесь делать всё за раз.</p>
  <ul>
<li>Полностью погрузитесь в то, что происходит в настоящий момент. Не отделяйте себя от того, что вы делаете (танцуете, делаете уборку, разговариваете с другом, радуетесь или грустите).</li>
<li>Слейтесь с тем, что вы делаете, забывая о себе. Сфокусируйте внимание на настоящем. </li>
<li>Действуйте интуитивно, руководствуясь Мудрым Разумом. Просто делайте то, чего требует ситуация, как умелый танцор, сливающийся с музыкой и партнёром. Не упрямьтесь и не будьте пассивны.</li>
</ul>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Упражнения
    </mat-panel-title>
  </mat-expansion-panel-header>
<section class="exercise">
  <mat-card class='exercise-card'>
      <mat-card-title class='exercise-card__title'>Участвуйте, осознавая свою связь с миром
    </mat-card-title>
    <mat-card-content>
      <ul>
    <li>Сфокусируйте внимание месте соприкосновения вашего тела с другими объектами (полом или землёй, молекулами воздуха, стула или подлокотника, простынёй или покрывалом, одеждой и т.д.). Попробуйте увидеть все способы, которыми вы связаны с этим объектом. Подумайте, какую функцию этот объект выполняет в отношении вас. То есть, что этот объект делает для вас.  Примите во внимание его доброту.  Почувствуйте соприкосновение с объектом и сосредоточьте все свое внимание на этой доброте, пока в вашем сердце не возникнет чувство связи, любви или заботы.</li>
    
    <i>Пример:</i> Сфокусируйте внимание на том, как ваши ноги касаются земли. Осознайте доброту земли, которая удерживает вас и даёт путь. Сфокусируйте внимание на соприкосновении вашего тела со стулом. Осознайте, как стул полностью принимает вас, удерживает, поддерживает вашу спину,  не даёт вам упасть на землю.  Сфокусируйте внимание на простыни и покрывалах на вашей кровать. Осознайте прикосновение Подумайте о том, как простыни и покрывала удерживают вас, окружают и сохраняют тепло и комфорт. Рассмотрите стены в комнате. Они защищают от ветра, холода и дождя. Подумайте, как стены связаны с вами через пол и воздух в комнате. Осознайте вашу связь со стенами, которые предоставляют вам безопасное место.
<li>Присядьте на скамью на оживленной улице или в парке. Описывайте по одной черте каждого человека, который проходит мимо.</li>
<li>Обнимите дерево. Подумайте, как вы и дерево связаны. Жизнь течёт в вас и в дереве, и вы оба согреты солнцем, окружены воздухом и поддерживаетесь землей. Почувствуйте любовь дерева, которое даёт вам опереться на себя  или укрывает вас в тени.</li>
<li>Танцуйте под музыку.</li>
<li>Подпевайте музыке, которую вы слушаете.</li>
<li>Пойте во время приёма  душа.</li>
<li>Пойте и танцуйте при просмотре телевизора. </li>
<li>Выскочите из кровати и начните петь или танцевать до того, как оденетесь.</li>
<li>Сходите в церковь с хором и присоединитесь к пению.</li>
<li>Спойте караоке с друзьями или в баре.</li>
<li>Погрузитесь в то, что говорит другой человек.</li>
<li>Сходите на пробежку, фокусируясь только на беге. </li>
<li>Сыграйте в спортивную игру, полностью погрузившись в неё.</li>
<li>Станьте счетчиком дыхания, став только «одним», когда вы считаете 1, становясь только «двумя», когда вы считаете 2, и так далее.</li>
<li>Станьте словом, медленно повторяя одно слово снова и снова. </li>
<li>Сходите на урок актёрской импровизации. </li>
<li>Сходите на урок танцев.</li>
  </ul>
    </mat-card-content>
  </mat-card>
</section>

</mat-expansion-panel>