<h2>Без оценки</h2>

    <blockquote>"ОЦЕНКА, существительное. Мнение, суждение или отзыв о чём-либо"</blockquote>

  <p>Главная цель безоценочности - развить способность и привычку <b> видеть мир, таким какой он есть, описывать его таким, какой он есть,
       и честно отстаивать свои ценности.</b></p>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Теория
      </mat-panel-title>
    </mat-expansion-panel-header>
    <article>
        <a href="https://www.dbtselfhelp.com/html/mindfulness_video_part_5.html">Источник на английском</a>
    
        <p>Что происходит, когда мы оцениваем? Мы добавляем что-то к наблюдению, а именно - выносим вердикт: хороший это
            факт
            или
            плохой. В общем-то, в этом вся суть. Это очень простая мысль, но понять её сложно.</p>
        <p>Давайте сравним "наблюдение и описание" и "наблюдение и оценку". Например, мы наблюдаем факт: "кто-то солгал". То
            есть
            сказал что-то, что не соответствует истине, причём специально.</p>
        <p>Мы можем сказать: "Катя намеренно сказала неправду, значит она плохая. Вот лгунья!" или "Катя намеренно
            сказала
            неправду и у этого были последствия. Люди больше ей не доверяют. Кто-то поверил в её ложь и на её основе принял
            решения, которые ему навредили. У лжи есть болезненные последствия."</p>
        <p>В первом случае мы говорим и наблюдение ("она соглала"), и оценку ("она плохая"). Во втором случае мы только
            наблюдаем
            ("она солгала"), а затем, вместо того, чтобы вынести оценку, мы описываем последствия.</p>
        <p>На самом деле, оценка - это быстрый способ описать последствия. Если они негативные, разрушительные,
            нежелательные,
            приносящие боль, мы называем факт "плохим". Если же последствия позитивные, они улучшают нашу жизнь, делают нас
            или
            других счастливее - мы называем факт "хорошим".</p>
        <p>Получается, оценка - это короткое обозначение чего-либо. Поэтому иногда оценивать полезно. Тогда, когда нам нужно
            быстро что-то понять. Например, я - учитель. Я кратко оцениваю чужие знания, когда говорю "5", "4", "3" или "2".
            Мне
            платят за оценивание.</p>
        <p>Если вы пойдёте в рыбный магазин, выберете рыбу и спросите - "Она хорошая?", продавец осмотрит её и ответит -
            "Нет,
            не хорошая". Что он сделал? Как он дал оценку? На самом деле он очень коротко сказал "Нет, в этой рыбе завелись
            вредные микроорганизмы, она протухла, если её съесть - заболеешь, она небезопасна". Он предсказывал последствия.
            Но,
            скорее всего, вы бы не хотели, чтобы он так ответил. Вам было бы достаточно - "Нет, эта рыба плохая. Не покупай
            её".</p>
        <p>Замечали ли вы, что часто мы просто забываем о том, что оценка это лишь "короткое обозначение"? Живём, относя
            людей
            к
            "хорошим" или к "плохим", "умным" или "глупым". Мы не помним, что оценка - это сокращение, и начинаем думать,
            что
            это
            характеристика человека. Мы действуем так, словно описываем не последствия его поведения, а реальное качество
            человека. "Это хороший человек". "Это плохой человек".</p>
        <p>Кто-то из нас осуждает самих себя. Кто-то осуждает других. Кто-то совмещает. А что насчёт вас? Вы чаще осуждаете
            себя?
            Других? Или вы за равные возможности, и осуждаете всех?)</p>
        <p>С осуждением есть две проблемы. Во-первых, если вы забываете, что оценка - это сокращение, то реагируете не на
            то,
            что
            делают другие люди или вы сами. Вы начинаете реагировать на свои мысли об их действиях. Может быть, вы думаете,
            что
            откликаетесь на чужие действия, но на самом деле вы отвечаете на свою оценку этих действий. Замечали ли вы такое
            у
            других людей? Ручаюсь, кто-то поступал так с вами. И думается, вы тоже иногда ведёте себя так с другими.</p>
        <p>Так что, проблема номер раз - иногда вы просто ошибаетесь. Вы реагируете на то, что, может быть, не происхоит в
            действительности.</p>
        <p>А вторая проблема в том, что осуждение ведёт к нескончаемым негативным эмоциями. Замечали ли вы это? Очень сложно
            злиться на человека, не осуждая его. Сложно разозлиться на себя, не осуждая себя. И почти невозможно избавиться
            от
            стыда, не сократив число оценок, которое выносится самому себе.</p>
        <p>Получается, есть две причины избавляться от осуждения. Первая - сложно взаимодействовать с миром, какой он есть,
            когда
            вместо этого реагируешь на свои оценки. Это всё равно что работать с интерпретациями вместо фактов. И вторая -
            осуждение делает эмоциональную боль буквально бесконечной. Сложно избавиться от негативных эмоций, не сократив
            осуждение.</p>
        <p>Ладно, вроде бы с этим разобрались?</p>
        <p>А теперь вопрос... как же образом мы можем изменить своё осуждение? Плохая новость - это может быть невероятно
            сложно.
            Но есть и хорошая - у вас получится. Сложно передать, сколько людей работало со мной, которые постоянно
            осуждали, -
            но
            они справились. Это может занять время, но, с другой стороны, существует многое, на что ушло бы гораздо больше
            времени.</p>
        <p>Сейчас я расскажу о конкретных шагах. Если вы правда захотели уменьшить число осуждения в своей жизни, следуйте
            им
            и
            всё получится.</p>
        <p>Первый шаг: вам придётся решить для себя, что это правда для вас важно. Будет сложно справиться без желания.
            Скорее
            всего эти шаги не сработают, если вы пытаетесь прекратить осуждать из-за чьей-то просьбы. Сядьте поудобней и
            спросите
            себя - "Нужно ли мне это? Что я получу для себя в итоге?".</p>
        <p>Предположим, вы нашли много причин, зачем вам учиться давать меньше оценок.</p>
        <p>Второй шаг: начать обращать внимание на осуждение. Вам нужно наблюдать, замечать и описывать. Под "описывать" я
            имею в
            виду просто вешать пометку "оценка". Подмечайте оценочные мысли, оценочные действия, оценочный тон голоса.
            Иногда
            осуждение сложно распознать. К примеру: "Я зашёл в комнату, там были жёлтые стены и красный ковёр" и "Захожу я в
            комнату, а там жёлтые стены и красный ковёр!". Видите разницу? Заметели осуждающую интонацию во втором
            предложении?</p>
        <p>Так что вам придётся постоянно наблюдать. Наблюдать за тоном голоса и за словами, потому что "...захожу я в
            комнату, а
            там жёлтые стены!" то же, что и "Я зашёл в комнату, там были жёлтые стены. Кошмар, это так ужасно. Кто их
            выбирал?".
            С
            этим мы разобрались? Отлично.</p>
        <p>Итак, первое, что нужно - замечать. На первое время достаточно замечать оценки и подсчитывать их. Особенно это
            важно,
            если вы осуждаете много. Считайте, сколько вы осуждаете, изо дня в день. А как это делать? Зависит от того,
            много ли
            вы осуждаете.</p>
        <p>Если вы осуждаете часто - а так делает большинство - вам нужно найти способ запоминать количество. Людям, с
            которыми я
            работаю, я советую купить счётчик в любом спортивном магазине и прикрепить его себе на ремень или положить в
            карман.
            И
            в течение всего дня, когда замечаете своё осуждение, просто щёлкать кнопку счётчика. А в конце дня записывать
            число
            в
            дневник.</p>
        <p>Интересно, сколько у вас получится в итоге. Я встречал людей, которые думали, что постоянно осуждают, а
            получилось
            семь или восемь. Были люди с сотнями в день. Одна девушка осуждала так много, что у неё просто не получалось
            подсчитывать, поэтому мы решили, что она будет считать число осуждений только за определённый час в течение дня.
            Она
            говорила, что осуждает круглыми сутками.</p>
        <p>Так что первый шаг - считать.</p>
        <p>Записывайте число каждый день. Посвятите этому неделю и скажите себе: "я каждый день на этой неделе буду следить
            за
            своим осуждением". Занятное явление: если вы хотите делать что-то реже, просто начните это подсчитывать, и один
            факт
            того, что вы считаете, уже скоратит это поведение в вашей жизни. Забавно, но именно так это и работает.</p>
        <p>Я хочу сказать вам ещё кое-что важное. Если вы решили прекратить осуждать или делать это реже, запомните: не
            осуждайте
            осуждение.</p>
        <p>Если вы осуждаете своё осуждение, щёлкните на счётчик. Это не то, к чему вы стремитесь. Осуждая осуждение вы
            удваиваете число осуждения. Так что не делайте этого.</p>
        <p>Заменяйте осуждение последствиями. Это - лучший способ переосмыслить осуждение. И знайте разницу между фактом и
            интерпретацией.</p>
        <p>И не думайте, что всё, что негативно - это осуждение. Мы очень часто думаем, что люди осуждают нас, когда говорят
            "Мне
            не нравится твоя помада" или "Мне не нравится твоя причёска". Ваша мама может сказать: "Мне бы хотелось видеть
            тебя
            в
            юбке". Вы думаете, что она вас осуждает. Конечно, может быть и так, но возможно это просто её желание, и
            всё.</p>
        <p>Ещё одно - некоторые люди думают, что лучший способ изменить осуждение это заменить негативное на позитивное. "Ты
            не
            плохой, ты хороший". Мы часто думаем так, когда рассуждаем о себе. "Я плохой, но говорю себе - Нет, у меня
            должны
            быть
            позитивные убеждения! Я начну хорошо о себе думать!".</p>
        <p>Нужно сказать, что это очень опасно. Почему? Потому что если вы можете давать хорошую оценку, то можете давать и
            плохую. Фокус в том, чтобы прекратить оценивать вообще. Скажите себе. "Я есть. Не плохой, не хороший". В этом
            весь
            смысл не-осуждения - развить способность и привычку видеть мир, таким какой он есть, описывает его таким, какой
            он
            есть, и честно отстаивать свои ценности. Заметьте: иметь свои ценности - не значит осуждать.</p>
    </article>
  </mat-expansion-panel>

<br>
<h3>Практика</h3>

<p>Выберете для себя несколько упражнений (не больше 5) и практикуйте их, пока они не станут частью вашей жизни.
  Упражнения можно менять, главное - не пытайтесь делать всё за раз.</p>
  <ul>
<li>Наблюдайте, но не оценивайте происходящее как хорошее или плохое. Только факты. </li>
<li>Принимайте каждый момент, как покрывало, расстеленное на лужайке, принимает и дождь, и солнце, и листья, опадающие с деревьев. </li>
<li>Признавайте разницу между полезным и вредным, безопасным и опасным, но не оценивайте их.</li>
<li>Признавайте свои ценности, свои желания, свои эмоции, но не оценивайте их.</li>
<li>Когда вы обнаружите, что оцениваете, не осуждайте себя за это.</li>
    
</ul>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Упражнения
    </mat-panel-title>
  </mat-expansion-panel-header>
<section class="exercise">
  <mat-card class='exercise-card'>
      <mat-card-title class='exercise-card__title'>Оставьте сравнения, осуждение, предположения
    </mat-card-title>
    <mat-card-content>
      <ul>
        <li>Наблюдайте за оценочными мыслями и утверждениями, говорите про себя: “У меня появилась оценочная мысль”.</li>
        <li>Считайте свои оценочные мысли и утверждения (можно перекладывать предметы или кусочки бумаги из одного кармана в другой, оставлять пометки на бумаге и тд.)</li>
        <li>Замените оценочные мысли и утверждения на безоценочные мысли и утверждения.<br>
        <b>Советы по замене оценки фактами: </b>
        <ol>
        <li>Опишите факты, связанные с событием или ситуацией - только то, что действительно происходило. </li>
        <li> Опишите последствия события. Придерживайтесь фактов.</li>
        <li>Опишите свои чувства, возникшие в ответ на факты (помните, эмоции, а не оценки) </li>
    </ol>
</li>
        <li>Проследите за тем, не несёт ли оценки ваше выражение лица, поза, тон голоса (включая голоса в ваших мыслях).</li>
        <li>Измените выражение лица, позу, тон голоса.</li>
        <li>Расскажите кому-нибудь, что вы делали сегодня или о событии, которое с вами произошло,  без оценивания. Выражайтесь очень конкретно, описывайте только то, что вы действительно наблюдали. </li>
        <li>Запишите безоценочное описание события, вызвавшего эмоцию.</li>
        <li>Составьте пошаговое описание особенно важного события вашего дня. Опишите и то, что происходило во внешнем мире, и ваши чувства, мысли и действия. Не анализируйте почему это случилось или почему вы так думали, чувствовали или поступали. Придерживайтесь фактов.  </li>
        <li>Представьте человека, на которого вы злитесь. Вспомните, какие поступки этого человека вызывают у вас столько злости. Представьте себя на месте этого человека, посмотрите на ситуацию с его точки зрения. Представьте чувства, мысли, страхи, надежды и желания этого человека. Представьте себе прошлое этого человека и то, что с ним происходило в прошлом. </li>
        <li>Используйте Полуулыбку или Руку помощи (эти упражнения будут рассматриваться в блоке Перенесение дистресса).</li>
        
  </ul>
    </mat-card-content>
  </mat-card>
</section>

</mat-expansion-panel>