.dbt-training-navigation {
  &__nav {
    padding: 0 10px;

    &._active {
      color: blueviolet;
      background-color: #dff3ff;
    }

    &-toggle {
      $size: 10px;
      width: 0;
      height: 0;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      display: inline-block;
      cursor: pointer;
      margin: 0 10px;

      border-top: $size solid var(--link-color);
      border-bottom: 0;

      &._visible {
        border-top: 0;
        border-bottom: $size solid var(--link-color);
      }

    }

    &-elem {
      color: var(--link-color);
      padding-top: 10px;
      margin: 0;

      &-subtitle {
        margin: 0;
        font-variant: small-caps;
        font-style: italic;
      }

      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
