<!--      todo: style nav elements properly-->
<!--      todo: separate scroll for navigation and for content-->
<!--      todo: add router animation-->
<h2 class="dbt-training-navigation__subtitle">Вводная информация</h2>
<div (click)="selectChapter(1)" class="dbt-training-navigation__nav" routerLink="/dbt/bpd-theory"
     routerLinkActive="_active">
  <a class="dbt-training-navigation__nav-elem"
  >Общая информация о тренинге
  </a>
  <p class="dbt-training-navigation__nav-elem-subtitle">Зачем нужен тренинг и для кого предназначен?</p>
</div>

<div (click)="selectChapter(2)" class="dbt-training-navigation__nav" routerLink="/dbt/training-format"
     routerLinkActive="_active">
  <a
    class="dbt-training-navigation__nav-elem">
    Возможные форматы проведения тренига
  </a>
  <p class="dbt-training-navigation__nav-elem-subtitle">Какие варианты организации тренинга? Как можно разбить материал
    на
    модули?</p>
</div>

<div (click)="selectChapter(3)" class="dbt-training-navigation__nav" routerLink="/dbt/training-process"
     routerLinkActive="_active">
  <a
    class="dbt-training-navigation__nav-elem">Организация сеанса
  </a>
  <p class="dbt-training-navigation__nav-elem-subtitle">Из чего состоит сеанс? Что происходит в начале тренинга? Какие
    есть
    правила участия в тренинге?</p>
</div>

<h2 class="dbt-training-navigation__subtitle">Модули</h2>
<div (click)="selectChapter(4)" class="dbt-training-navigation__nav" routerLink="/dbt/mindfulness"
     routerLinkActive="_active">
  <a class="dbt-training-navigation__nav-elem"
  >Навыки психической вовлеченности </a>
</div>

<div class="dbt-training-navigation__nav _disabled" title="ещё не существует...">
  <!--     routerLink="/dbt/bpd-theory"-->
  <!--     routerLinkActive="_active"-->
  <!--   (click)="selectChapter(5)"-->
  <a class="dbt-training-navigation__nav-elem"
  >Навыки межличной эффективности
  </a>
</div>

<div class="dbt-training-navigation__nav _disabled" title="ещё не существует...">
  <!--     routerLink="/dbt/bpd-theory"-->
  <!--     routerLinkActive="_active"-->
  <!--  (click)="selectChapter(6)" -->
  <a class="dbt-training-navigation__nav-elem"
  >Навыки эмоциональной регуляции
  </a>
</div>

<div class="dbt-training-navigation__nav _disabled" title="ещё не существует...">
  <!--     routerLink="/dbt/bpd-theory"-->
  <!--     routerLinkActive="_active"-->
  <!--  (click)="selectChapter(7)"-->
  <a class="dbt-training-navigation__nav-elem"
  >Навыки для перенесения дистресса
  </a>
</div>
