@import 'colors';
@import "variables";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: 0;
  color: blueviolet;
  background-color: #dff3ff;
}


body {
  margin: 0;
  padding: 0;
}

:root {
  //chain-node
  --chain-node-main-color: #{$chain-node-main-color};
  --chain-node-border-color: #{$chain-node-border-color};
  --link-color: #12509f;
  --chain-node-size: #{$chain-node-size};

  //chain-connection
  --chain-connection-main-color: #{$chain-connection-main-color};
  --chain-connection-size: #{$chain-connection-size};

  //  common
  --border-width: #{$border-width};
}

._titlable {
  text-decoration: underline;
  -moz-text-decoration-style: dashed;
  -moz-text-decoration-color: #52f3ff;
}
