<h2>Тренинг психосоциальных навыков для клиентов с ПРЛ: обоснование</h2>
<h3>Что такое тренинг навыков?</h3>
<p>Тренинг навыков это часть <strong>диалектико-поведенческой терапии</strong>, в оригинале Dialectical behavior
  therapy (сокращённо DBT).
  DBT - это программа, разработанная специально для лечения людей с <span
    class="_titlable"
    title="Пограничное расстройство личности">ПРЛ</span>.
  Наиболее эффективной формой DBT является сочетание тренинга навыков и индивидуальной психотерапии.
</p>

<h4>Основные положения концепции DBT</h4>
<ul>
  <li>Действительность и сам человек воспринимаются как нечто целое. Поэтому пытаясь изменить поведение, надо
    учитывать как непосредственно само поведение, так и контекст, в котором оно происходит.
  </li>
  <li>Мир не воспринимается как нечто застывшее. Он меняется. В нём есть противоречия, и если их друг с другом
    совместить, получится что-то качественно новое.
    Считается, что проблема людей с <span class="_titlable" title="Пограничное расстройство личности">ПРЛ</span> в
    неумении преодолевать эти противоречия. Главное противоречие - нужно себя полностью принимать и при этом надо
    меняться.
  </li>
</ul>
<h3>Откуда берётся ПРЛ?</h3>
<p>Главной чертой ПРЛ являются проблемы с регуляцией своих эмоций. Это порождает эмоциональную уязвимость, а также
  неадаптивные и неадекватные способы справляться с эмоциями. </p>
<p>Считается, что ПРЛ возникает, когда совпадает биологическая предрасположенность человека и определённая
  окружающая среда.</p>
<p><i>Биологически</i> люди с ПРЛ очень чувствительны к эмоциональным раздражителям, остро на них реагируют и
  медленно восстанавливают нормальное эмоциональное состояние.</p>
<p><i>Среда, в которой воспитывались люди с ПРЛ</i> являлась инвалидизирующей. Инвалидация (<i>in</i> - не,
  <i>valid</i> - значимый) - это когда окружение игнорирует или не признаёт эмоциональные реакции человека.
  Коротко говоря - окружающие систематически не принимают его, когда он выражает эмоции или говорит о них, учат не
  полагаться на свои эмоции ("Ты врёшь, ты этого не чувствуешь").</p>

<p><strong>Важно!</strong> В DBT считается, что суицидальное поведение, саморазрушительное поведение, импульсивное
  поведение могут быть осмыслены как эффективные, но неадаптивные стратегии человека, помогающие справляться с
  эмоциями. И цель тренинга навыков - расширить набор способов, с помощью которых можно регулировать эмоции.</p>
<h3>Какие проблемы решает индивидуальная психотерапия, а какие - тренинг навыков?</h3>
<p>Тренинг навыков помогает человеку приобрести недостающие навыки, которые мешают ему эффективно решать свои
  задачи:</p>
<ul>
  <li>Навыки эмоциональной саморегуляции</li>
  <li>Навыки перенесения дистресса</li>
  <li>Навыки межличностного общения</li>
  <li>Навыки психической вовлеченности (сознательного восприяния наблюдения за собой и окружающим миром)</li>
</ul>
<p>Индивидуальная терапия помогает человеку решить мотивационные проблемы, заменить пограничное поведение на
  эффективное.</p>
