<app-article [article]="_articleModel"></app-article>

<h3>Откуда берётся ПРЛ?</h3>
<p>Главной чертой ПРЛ являются проблемы с регуляцией своих эмоций. Это порождает эмоциональную уязвимость, а также
    неадаптивные и неадекватные способы справляться с эмоциями. </p>
<p>Считается, что ПРЛ возникает, когда совпадает биологическая предрасположенность человека и определённая
    окружающая среда.</p>
<p><i>Биологически</i> люди с ПРЛ очень чувствительны к эмоциональным раздражителям, остро на них реагируют и
    медленно восстанавливают нормальное эмоциональное состояние.</p>
<p><i>Среда, в которой воспитывались люди с ПРЛ</i> являлась инвалидизирующей. Инвалидация (<i>in</i> - не,
    <i>valid</i> - значимый) - это когда окружение игнорирует или не признаёт эмоциональные реакции человека.
    Коротко говоря - окружающие систематически не принимают его, когда он выражает эмоции или говорит о них, учат не
    полагаться на свои эмоции ("Ты врёшь, ты этого не чувствуешь").</p>

<p><strong>Важно!</strong> В DBT считается, что суицидальное поведение, саморазрушительное поведение, импульсивное
    поведение могут быть осмыслены как эффективные, но неадаптивные стратегии человека, помогающие справляться с
    эмоциями. И цель тренинга навыков - расширить набор способов, с помощью которых можно регулировать эмоции.</p>
<h3>Какие проблемы решает индивидуальная психотерапия, а какие - тренинг навыков?</h3>
<p>Тренинг навыков помогает человеку приобрести недостающие навыки, которые мешают ему эффективно решать свои
    задачи:</p>
<ul>
    <li>Навыки эмоциональной саморегуляции</li>
    <li>Навыки перенесения дистресса</li>
    <li>Навыки межличностного общения</li>
    <li>Навыки психической вовлеченности (сознательного восприяния наблюдения за собой и окружающим миром)</li>
</ul>
<p>Индивидуальная терапия помогает человеку решить мотивационные проблемы, заменить пограничное поведение на
    эффективное.</p>
<h3>Что можно почитать на тему ПРЛ и DBT?</h3>
<ul>
    <li>Марша М. Лайнен "Когнитивно-поведенческая терапия пограничного расстройства личности", она же "красная книга".
        Очень подробное руководство по терапии ПРЛ, предназначено для профессионалов. <br>
        <a href="https://vk.com/doc59600811_490562982?hash=5e35f848c3dbaaf72c&dl=d4d3f8d1f0641a3d31">Ссылка на
            скачивание</a>
    </li>
    <li>Марша М. Лайнен "Руководство по тренингу навыков при терапии пограничного расстройства личности", она же "синяя
        книга".
        Первое издание подходит для более тяжёлых степеней ПРЛ (парасуицидальное поведение, нарушение чужих границ),
        второе
        для более лёгкого.
        <br><a href="https://vk.com/doc59600811_490563204?hash=add83f516535b0fd5e&dl=758ede5e6b988c9a19">Первое
            издание (rus)</a>
    </li>
    <li>Джерольд Крейсман, Хэл Страус "Я ненавижу тебя, только не бросай меня. Пограничные личности и как их понять".
        Более популярное изложение, очень полезное.<br>
        <a href="https://vk.com/doc59600811_490563029?hash=cec159fefb42069661&dl=c59c8867c047851b98">Ссылка на
            скачивание</a></li>

</ul>
