<h3>Цели модуля</h3>
<p>Модуль направлен на навыки <strong>разрешения проблем в отношениях с другими людьми</strong>.</p>
<h4>Какие бывают цели в отношениях?</h4>
<h5>Уметь получать от других то, что вам хочется и что вам нужно</h5>
<ul>
  <li>Просить других делать то, что вы хотите от них</li>
  <li>Заставить других относиться к вашему мнению серьезно</li>
  <li>Эффективно сказать “нет” на нежелательный запрос</li>
  <li>Ощущать себя "умелым", какой бы ни был результат</li>
</ul>
<p>Для людей с ПРЛ характерен дисбаланс между избеганием конфликта и интенсивной конфронтацией. Они уходят из отношений,
  когда было бы эффективней продолжить их и решить конфликт. Разрывы отношений связаны с отсутствием навыков всех
  категорий - плохая эмоциональная регуляция, непонимание себя, своих целей, других людей, неумение переносить
  длительные сильные негативные эмоции.</p>
<h5>Строить отношения и прекращать деструктивные отношения
</h5>
<ul>
  <li>Укреплять текущие отношения</li>
  <li>Не позволять накапливаться обидам и проблемам в отношениях
    <ul>
      <li>Использовать навыки построения отношений, чтобы предотвращать проблемы</li>
      <li>Налаживать отношения, когда это необходимо</li>
      <li>Разрешать конфликты до того, как они станут невыносимыми</li>
    </ul>
  </li>
  <li>Находить и строить новые отношения</li>
  <li>Прекращать безнадежные отношения</li>
</ul>
<h5>
  Найти “золотую середину”
</h5>
<ul>
  <li>Создать и поддерживать баланс в отношениях</li>
  <li>Сбалансировать принятие и изменения в отношениях</li>
</ul>


<p>В модуле рассматривается 3 возможных приоритета в разрешении конфликта - достижение цели, либо сохранение
  хороших взаимоотношений, либо сохранение самоуважения.</p>

<!--Myths about Interpersonal Effectiveness-->
<!--Cheerleading Statements for Interpersonal Effectiveness-->
<!--Options for Determining Intensity of the Situation-->
<!--Situations for Interpersonal Effectiveness-->
<h3>Разбиение модуля по занятиям</h3>

<p>В "синей" книге материал модуля разбит на логические части:</p>
<ul>
  <li>обзор межличностных навыков (Interpersonal Effectiveness Overview);</li>
  <li>факторы, способствующие либо препятствующение эффективности в отношениях; (Factors Reducing Interpersonal
    Effectiveness)
  </li>
  <li>факторы, которые нужно рассмотреть при принятии решания попросить, отказать или выразить своё мнение;</li>
  <li>конкретные навыки:
    <ul>
      <li>
        направляющее самоободрение
      </li>
      <li>получение желаемого (Using Objectiveness Effectiveness: (Dear Man))
        <ul>
          <li> D Describe</li>
          <li> E Express</li>
          <li> A Assert</li>
          <li> R Reinforce</li>
          <li> M Mindful</li>
          <li> A Appear Confident</li>
          <li> N Negotiate</li>
        </ul>
      </li>
      <li>поддержание отношений (Using Relationship Effectiveness: (Give))
        <ul>
          <li>G Gentle</li>
          <li>I Interested</li>
          <li>V Validate</li>
          <li>E Easy Manner</li>
        </ul>
      </li>
      <li>сохранение самоуважения (Self-respect effectiveness: (Fast))
        <ul>
          <li>F Fair</li>
          <li>A Apologies (no Apologies)</li>
          <li>S Stick to value</li>
          <li>T Truthful</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<h4>Примерно материал можно разбить на занятия так:</h4>
<ol>
  <li>Введение.
    <ul>
      <li>Рассмотрение структуры модуля.</li>
      <li>Обзор целей модуля. (<a href="https://docs.google.com/document/d/1cN4dmse8zAw_qX6RVOQCbPvsWBt1eXXVuJnNQETORe0/edit#heading=h.4imi0le5jxo1" target="_blank">Межличностная эффективность. Раздаточный материал 1</a>)</li>
      <li>Ситуации, где навыки применимы.</li>
      <li>Обзор целей, которые могут быть во взаимодействии с другими</li>
      <li>Мифы о межличностной эффективности (синяя книга, межличностная эфф., разд. материал №4)</li>
      <li>Факторы, мешающие межличностной эффективности (<a href="https://docs.google.com/document/d/1cN4dmse8zAw_qX6RVOQCbPvsWBt1eXXVuJnNQETORe0/edit#heading=h.4imi0le5jxo1" target="_blank">Межличностная эффективность. Раздаточный материал 2</a>)</li>
      <p><strong>ДЗ: выписать свои мифы и опровергнуть их</strong></p>
<!--      IPE PRACTICE SHEET #2-->
<!--      Define and prioritize the goals in the following interpersonal situations:-->
<!--      1. Your landlord keeps your deposit unfairly.-->
<!--      ___Objective:-->
<!--      ___Relationship:-->
<!--      ___Self-respect:-->
<!--      2. Your best friend wants to come over and discuss a problem; you-->
<!--      want to go to bed.-->
<!--      ___Objective:-->
<!--      ___Relationship:-->
<!--      ___Self-respect:-->
<!--      3. You want a raise; your boss wants you to “modify the books” (or-->
<!--      something else that goes against your morals) in return.-->
<!--      ___Objective:-->
<!--      ___Relationship:-->
<!--      ___Self-respect:-->
    </ul>
  </li>
  <li>Что нужно рассмотреть при выборе целей (<a href="https://docs.google.com/document/d/1cN4dmse8zAw_qX6RVOQCbPvsWBt1eXXVuJnNQETORe0/edit#heading=h.4imi0le5jxo1" target="_blank">Межличностная эффективность. Раздаточный материал 3, 4</a>)</li>
<!--  https://www.dbtselfhelp.com/html/ie_handout_6.html-->
  <li>Достижение целей (ПРОСИ ТАК) (Межличностная эффективность. Раздаточный материал 5)</li>
  <li>Сохранение хороших взаимоотношений (ДРУГ) (Межличностная эффективность. Раздаточный материал 6)</li>
  <li>Сохранение самоуважения (ЧЕСТЬ) (Межличностная эффективность. Раздаточный материал 7)</li>
  <li>Выбор интенсивности просьб и отказов, критерий  (синяя книга, межличностная эфф., разд. материал №4)</li>
  <li>Создание новых отношений, прекращение отношений  (Межличностная эффективность. Раздаточный материал 11, 11A, 13, 13A)</li>
  <li>Осознанность в отношениях с другими  (Межличностная эффективность. Раздаточный материал 12, 12A)</li>
  <li>Валидация других, самовалидация, восстановление после инвалидации ("формулы направляющего ободрения")  (синяя книга, межличностная эфф., разд. материал №5 + Межличностная эффективность. Раздаточный материал 17, 18, 19, 19A)</li>
</ol>

<p>Важно правильно организовать тренинг и оставить на практическую часть (собственно отработку навыков) как минимум
  половину времени. Напомним, что обычно модули занимают 8 недель, но этот может занять больше, т.к. он самый объёмный
  из всех.</p>
<h3>В каких ситуациях предполагается применять эти навыки?</h3>
<!--https://www.dbtselfhelp.com/html/ie_handout_7.html идеи для практики-->
