:host {
  max-width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #0884c3;
  background-color: #03257A;
}

.app-header {
  &__content {
    max-width: var(--max-page-width);
    margin: 0 auto;
    height: var(--header-height);

    &-item {
      font-weight: bold;
      color: #FFF;


      &._active {
        color: #FFF;
        text-decoration: underline;
      }

      &:hover {
        color: #91a6dc;
      }
    }

  }

}
