<h2>Эффективность</h2>

<p> Эффективность - от англ. <i>???</i> - ??.</p>
<p>
    Эффективность - это <strong>???.</strong></p>
  <p>Главная цель эффективности - научиться <b>???</b>.</p>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Теория
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

<br>
<h3>Практика</h3>

<p>Выберете для себя несколько упражнений (не больше 5) и практикуйте их, пока они не станут частью вашей жизни.
  Упражнения можно менять, главное - не пытайтесь делать всё за раз.</p>
  <ul>
    <li>Помните о своих целях в сложившейся ситуации и делайте все необходимое для их достижения.</li>
    <li>Сосредоточиться на том, что работает. (Не позволяйте эмоциональному разуму мешать вам быть эффективным.) </li>
    <li>Играйте по правилам. </li>
    <li>Действуйте так умело, как вы можете.</li>
    <li>Делайте то, что нужно для ситуации, в которой вы находитесь, а не для ситуации, в которой вы хотели бы оказаться; не то, что будет честно; не то, что удобнее. </li>
    <li>Отпустите упрямство и не будьте пассивны.</li></ul>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Упражнения
    </mat-panel-title>
  </mat-expansion-panel-header>
<section class="exercise">
  <mat-card class='exercise-card'>
      <mat-card-title class='exercise-card__title'>Идеи для тренировки
    </mat-card-title>
    <mat-card-content>
      <ul>
        <li>Наблюдайте, когда вы начинаете злиться или испытывать враждебность к кому-либо. Спросите себя: «Это эффективно?»</li>
        <li>Наблюдайте за собой, когда у вас появляется желание быть «правильным», а не эффективным. Откажитесь от того, чтобы быть «правильным», и попытайтесь быть эффективным.</li>
        <li>Обратите внимание на упрямство в себе. Спросите себя: «Это эффективно?»</li>
        <li>Откажитесь от своеволия и вместо этого практикуйте эффективные действия. Обратите внимание на разницу.</li>
        <li>Когда вы чувствуете злость или враждебность, или чувствуете, что собираетесь сделать что-то неэффективное, используйте упражнение “Ладони Принятия”.</li>
        
  </ul>
    </mat-card-content>
  </mat-card>
</section>

</mat-expansion-panel>