<button
    class="app-sidenav-hamburger"
    mat-icon-button
    color="primary"
    aria-label="close menu button"
    (click)="drawer.toggle()"
>
    <mat-icon>close</mat-icon>
</button>
<ng-container *ngFor="let menuItem of model; index as index; trackBy: trackByFn">
    <div class="expansion-button">
        <mat-accordion>
            <mat-expansion-panel
                [disabled]="menuItem.disabled"
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
                (click)="selectChapter($event, menuItem, index)"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ menuItem.title }}
                    </mat-panel-title>
                    <mat-panel-description *ngIf="menuItem.subtitle">
                        {{ menuItem.subtitle }}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <ng-container
                    *ngFor="let menuSubItem of menuItem.children; trackBy: trackByFn"
                >
                    <div
                        *ngIf="menuSubItem.type === 'SUB_ITEM'; else innerGroupHeader"
                        [routerLink]="!menuSubItem.disabled && menuSubItem.link"
                        (click)="selectChapter($event, menuSubItem, undefined)"
                    >
                        <p
                            class="dbt-training-navigation__group-elem"
                            routerLinkActive="_active"
                            [class._disabled]="menuSubItem.disabled"
                        >
                            {{ menuSubItem.title }}
                        </p>
                        <p
                            *ngIf="menuSubItem.subtitle"
                            class="dbt-training-navigation__group-elem-subtitle"
                        >
                            {{ menuSubItem.subtitle }}
                        </p>
                    </div>
                    <ng-template #innerGroupHeader>
                        <h3 class="dbt-training-navigation__group-subtitle">
                            {{ menuSubItem.title }}
                        </h3>
                    </ng-template>
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</ng-container>
