:host {
  position: sticky;
  top: var(--header-height);
}

.dbt-training-navigation {

  &__subtitle {
    min-width: 275px;
    font-variant: all-petite-caps;
    text-align: center;
    margin: 0;
    padding: 2px 0;
    font-size: 16px;
    color: #1a1c5b;
    text-decoration: underline;
    background-color: #d1f2f7;
  }

  &__nav {
    padding: 10px 20px 10px 10px;

    &._disabled {
      color: lightgray;

      .dbt-training-navigation__nav-elem {
        color: lightgray;
      }

      &:hover {
        background-color: gray;
      }
    }

    cursor: pointer;

    &:hover {
      background-color: #dff3ff;
    }

    &._active {
      color: blueviolet;
      background-color: #b6deff;
    }

    &-toggle {
      $size: 10px;
      width: 0;
      height: 0;
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      display: inline-block;
      margin: 0 10px;

      border-top: $size solid var(--link-color);
      border-bottom: 0;

      &._visible {
        border-top: 0;
        border-bottom: $size solid var(--link-color);
      }

    }

    &-elem {
      color: var(--link-color);
      padding-top: 10px;
      margin: 0;

      &-subtitle {
        margin: 0;
        font-variant: small-caps;
        font-style: italic;
        font-size: 14px;
      }

      cursor: pointer;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  &__group {
    background-color: white;
    padding-bottom: 5px;

    &-subtitle {
      background-color: #f2f2f2;
      margin: 0;
      text-align: center;
      font-size: 16px;
      font-style: italic;
      font-weight: normal;
      font-variant: all-petite-caps;
    }

    &-elem {
      text-decoration: none;
      display: block;
      border-bottom: 1px solid #b6deff;
      border-collapse: collapse;
      padding: 5px 10px;
      color: var(--link-color);

      &._disabled {
        color: lightgray;
        pointer-events: none;
        cursor: default;
      }

      &:hover {
        background-color: #dff3ff;

        text-decoration: underline;
      }

      &._active {
        color: blueviolet;
        background-color: #ebf6ff;
      }
    }
  }
}
