@import 'colors';
@import "variables";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*:focus {
  outline: 0;
  color: blueviolet;
}

.page-content {
  //75px is footer + header
  min-height: calc(100vh - 75px);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

:root {
  //chain-node
  --chain-node-main-color: #{$chain-node-main-color};
  --chain-node-border-color: #{$chain-node-border-color};
  --link-color: #12509f;
  --chain-node-size: #{$chain-node-size};

  //chain-connection
  --chain-connection-main-color: #{$chain-connection-main-color};
  --chain-connection-size: #{$chain-connection-size};

  //  common
  --border-width: #{$border-width};
  --header-height: 36px;
  --max-page-width: 2000px;
}

._titlable {
  text-decoration: underline;
  -moz-text-decoration-style: dashed;
  -moz-text-decoration-color: #52f3ff;
}
