<h2>Формат сеанса и начальный этап тренинга навыков</h2>
<h3>Как организован сеанс?</h3>
<p><i>Продолжительность:</i> 2.5 часа, из них 10-15 минут перерыв.</p>
<blockquote>Первый час начинается с ритуалов открытия, после чего члены группы обсуждают свои попытки отработки
  поведеческих навыков (или отсутствие таковых) за прошедшую неделю; затем устраивается перерыв. Второй час
  посвящен
  подаче и обсуждению новых навыков. Последние пятнадцать минут отводятся на завершение сеанса.
</blockquote>
<blockquote>Первые 30-60 минут каждого <i>нового</i> модуля отводятся на обсуждение необходимости и целей этого
  модуля. Ведущим нужно убедить клиентов, что навыки актуальны для них.
</blockquote>

<h3>Какая структура у сеанса?</h3>
<ul>
  <li>Начало сеанса. Обсуждение препятствующего терапии поведения: пропуски сеансов, систематические опоздания. 5-10
    минут
  </li>
  <li>Обсуждение выполнения домашнего задания. Кто что делал в течение недели? Какие были трудности? Что давалось легче,
    что труднее?<br> Важно, чтобы каждый член группы высказался. Если навыки не отрабатывались, нужно обсудить причины.
    Если
    отрабатывались, но не помогли - нужно прояснить, что именно клиент делал и что ожидал, проанализировать причины
    неудачи и предложить эффективную стратегию поведения на будущее.
  </li>
  <!--  <li></li>-->
  <!--  <li></li>-->
  <!--  <li></li>-->
  <!--  <li></li>-->
  <!--  <li></li>-->
  <!--  <li></li>-->
</ul>
