<h2>Организационные моменты проведения тренинга</h2>
<h3>Общие моменты</h3>
<p><i>Продолжительность одного занятия:</i> 2.5 часа, из них 10-15 минут перерыв.</p>
<blockquote>Первый час начинается с ритуалов открытия, после чего члены группы обсуждают свои попытки отработки
  поведеческих навыков (или отсутствие таковых) за прошедшую неделю; затем устраивается перерыв. Второй час
  посвящен
  подаче и обсуждению новых навыков. Последние пятнадцать минут отводятся на завершение сеанса.
</blockquote>
<blockquote>Первые 30-60 минут каждого <i>нового</i> модуля отводятся на обсуждение необходимости и целей этого
  модуля. Ведущим нужно убедить клиентов, что навыки актуальны для них.
</blockquote>

<h3>Какая структура у сеанса?</h3>
<ul>
  <li>Начало сеанса. Обсуждение препятствующего терапии поведения: пропуски сеансов, систематические опоздания. 5-10
    минут
  </li>
  <li>Обсуждение выполнения домашнего задания. Кто что делал в течение недели? Какие были трудности? Что давалось легче,
    что труднее?<br> Важно, чтобы каждый член группы высказался. Если навыки не отрабатывались, нужно обсудить причины.
    Если
    отрабатывались, но не помогли - нужно прояснить, что именно клиент делал и что ожидал, проанализировать причины
    неудачи и предложить эффективную стратегию поведения на будущее.
  </li>
  <li>Перерыв 10-15 минут.</li>
  <li>Подача нового материала. Примерно полтора часа.</li>
  <li>Завершение сеанса. Поскольку люди с ПРЛ обычно испытывают сильные эмоции во время занятий, важно правильно
    завершать сеансы.<br>
    Один из хороших вариантов - посвятить 15 минут на обсуждение того, как прошёл сеанс. "Члены группы могут делиться
    своими наблюдениями за собой, другими клиентами, ведущими группы или группой в целом."<br>
    Второй метод - провести упражнения по релаксации, медитации, использовать дыхательные техники.

  </li>
</ul>

<h3>Что нужно обговорить с группой до начала тренинга?</h3>
На первом занятии стоит обговорить со всеми членами правила участия в тренинге.
Вы можете выбрать пункты из списка ниже и\или добавить свои правила.
<h4>Правила тренинга:</h4>
<ol>
  <li>Участники, которые пропускают более <strong>4</strong> занятий <strong>подряд</strong> выбывают из тренинга.</li>
  <li>Участники обещают не разглашать информацию о других клиентах.</li>
  <li>Участники уважают друг друга:</li>
  <ol>
    <li>Посещают занятия вовремя и остаются до конца занятия.</li>
    <li>Прилагают все усилия, чтобы практиковать навыки между сессиями</li>
    <li>Уважают друг друга, избегают суждений и думают друг о друге в положительном ключе</li>
    <li>Помогают друг другу и дают обратную связь</li>
    <li>Готовы принять помощь от человека, которого они попросили о помощи</li>
    <li>Заранее предупреждают о возможных опозданиях или пропусках занятий</li>
  </ol>
  <li>Участники не вовлекают других в проблемное поведение, не посещают тренинг в алкогольном опьянении и под
    воздействием наркотических
    веществ
  </li>
  <li>Участники не вступают в тайные отношения за пределами группы</li>
  <li>Участиники не являются сексуальными партнёрами</li>
  <li>Участники тренинга регулярно проходят индивидуальную терапию.</li>
</ol>

<h3>Какие нужны вспомогательные материалы?</h3>
<p>Во-первых, существует <i>рабочая тетрадь</i>, специально для этого тренинга (она же - раздаточные материалы). Тетрадь
  очень удобна тем, что в ней есть подробные задания на каждый навык. Кроме того, там кратко повторяется вся теория по
  изучаемому навыку. Она есть на
  английском в свободном доступе:
  <a href="https://projecticee.files.wordpress.com/2018/12/lin-c-dbt-handouts.pdf" target="_blank">Reproducible
    Materials: DBT® Skills
    Training Handouts and Worksheets, Second Edition</a></p>
<p>Существует перевод на русский, который ведётся добровольцами. На данный момент (29 декабря 2019г.) переведены два
  первых модуля: <a
    href="https://docs.google.com/document/d/1cN4dmse8zAw_qX6RVOQCbPvsWBt1eXXVuJnNQETORe0/edit" target="_blank">Рабочая
    тетрадь на русском</a></p>

<p>Во-вторых, участники должны вести <i>дневники по отработке навыков</i>, чтобы отслеживать приложенные усилия, своё
  состояние
  и прогресс. Кроме того, так проще рассказывать об отработке на встречах.</p>
<p>Возможные форматы ведения дневниковых записей: </p>
<ul>
  <li>Использование приложения для телефона.
    <a href="https://play.google.com/store/apps/details?id=se.annadroid.Dbt112"
       target="_blank">Вариант
      для Android</a>,
    <a href="https://apps.apple.com/us/app/simple-dbt-skills-diary-card/id666921665" target="_blank">Вариант для iOS</a>
  </li>
  <li>Заполнение распечатанных готовых карт. Несколько примеров на английском можно найти <a
    href="https://www.dbtselfhelp.com/html/diary_cards1.html"
    target="_blank">здесь</a>
  </li>
  <li>Ведение записей в произвольной форме</li>
</ul>
