:host {
  display: flex;
}

.dbt-training {
  &__left {
    width: 275px;
    display: inline-block;
    border-right: 1px solid rgba(8, 162, 235, 0.21);
    box-shadow: 2px 1px 7px rgba(8, 162, 235, 0.21);
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
    height: 100vh;
    background-color: white;
  }

  &__right {
    display: inline-block;
    padding: 10px 10px 10px 20px;
  }

}

@media (max-width: 700px) {
  :host {
    display: block;
  }

  .dbt-training__left {
    width: auto;
    height: auto;
  }
}
