:host {
  display: flex;
}

.dbt-training {
  &__left {
    display: inline-block;
    border-right: 1px solid rgba(8, 162, 235, 0.21);
    box-shadow: 4px 4px 7px rgba(8, 162, 235, 0.21);
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
    $footer-height: 35px;
    height: calc(100vh - #{$footer-height});
    background-color: white;
  }

  &__right {
    display: inline-block;
    padding: 10px 10px 10px 20px;
  }

}

@media (max-width: 1000px) {
  :host {
    display: block;
  }

  .dbt-training {
    &__left {
      width: 100vw;
    }

    &__right._fixed {
      position: fixed;
    }
  }
}
