<nav class="dbt-training__nav">
  <h1>Marsha M. Linehan, Руководство по тренингу навыков при терапии пограничного расстройства личности</h1>
  <h2 #navigation>
    <span>Содержание</span>
    <div class="dbt-training__nav-toggle"
         [class._visible]="navVisible"
         (click)="navVisible = !navVisible"
    ></div>
  </h2>
  <ol *ngIf="navVisible">
    <li (click)="selectChapter(1)">
      <p class="dbt-training__nav-elem">Тренинг психосоциальных навыков для клиентов с ПРЛ: обоснование</p>
      <p class="dbt-training__nav-elem-subtitle">Зачем нужен тренинг и для кого предназначен?</p>
    </li>
    <li (click)="selectChapter(2)">
      <p class="dbt-training__nav-elem">Практичские аспекты тренинга психосоциальных навыков</p>
      <p class="dbt-training__nav-elem-subtitle">Какие варианты организации тренинга? Какие могут быть виды групп,
        состав ведущих, взаимоотношения между ведущим(и) и индивидуальным терапевтом? Как можно разбить материал на
        модули?</p>
    </li>

    <li class="dbt-training__nav-elem" (click)="selectChapter(3)">Формат сеанса и начальный этап тренинга навыков</li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(4)">Применение стратегий структурирования и тренинговых
      процедур
      в контексте тренинга психосоциальных навыков
    </li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(5)">Применение других стратегий и процедур в тренинге
      психосоциальных навыков
    </li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(6)">Схема тренинга психосоциальных навыков: содержание
      сеансов
    </li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(7)">Основные навыки психической вовлеченности</li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(8)">Навыки межличной эффективности</li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(9)">Навыки эмоциональной регуляции</li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(10)">Навыки для перенесения дистресса</li>
  </ol>
</nav>

<ng-container [ngSwitch]="chapter">
  <div #target *ngSwitchCase="1" class="dbt-training__chapter">
    <h2>Глава 1. Тренинг психосоциальных навыков для клиентов с ПРЛ: обоснование</h2>
    <h3>Что такое тренинг навыков?</h3>
    <p>Тренинг навыков это часть <strong>диалектико-поведенческой терапии</strong>, в оригинале Dialectical behavior
      therapy (сокращённо DBT).
      DBT - это программа, разработанная специально для лечения людей с <span title="Пограничное расстройство личности"
                                                                              class="_titlable">ПРЛ</span>.
      Наиболее эффективной формой DBT является сочетание тренинга навыков и индивидуальной психотерапии.
    </p>

    <h4>Основные положения концепции DBT</h4>
    <ul>
      <li>Действительность и сам человек воспринимаются как нечто целое. Поэтому пытаясь изменить поведение, надо
        учитывать как непосредственно само поведение, так и контекст, в котором оно происходит.
      </li>
      <li>Мир не воспринимается как нечто застывшее. Он меняется. В нём есть противоречия, и если их друг с другом
        совместить, получится что-то качественно новое.
        Считается, что проблема людей с <span title="Пограничное расстройство личности" class="_titlable">ПРЛ</span> в
        неумении преодолевать эти противоречия. Главное противоречие - нужно себя полностью принимать и при этом надо
        меняться.
      </li>
    </ul>
    <h3>Откуда берётся ПРЛ?</h3>
    <p>Главной чертой ПРЛ являются проблемы с регуляцией своих эмоций. Это порождает эмоциональную уязвимость, а также
      неадаптивные и неадекватные способы справляться с эмоциями. </p>
    <p>Считается, что ПРЛ возникает, когда совпадает биологическая предрасположенность человека и определённая
      окружающая среда.</p>
    <p><i>Биологически</i> люди с ПРЛ очень чувствительны к эмоциональным раздражителям, остро на них реагируют и
      медленно восстанавливают нормальное эмоциональное состояние.</p>
    <p><i>Среда, в которой воспитывались люди с ПРЛ</i> являлась инвалидизирующей. Инвалидация (<i>in</i> - не,
      <i>valid</i> - значимый) - это когда окружение игнорирует или не признаёт эмоциональные реакции человека.
      Коротко говоря - окружающие систематически не принимают его, когда он выражает эмоции или говорит о них, учат не
      полагаться на свои эмоции ("Ты врёшь, ты этого не чувствуешь").</p>

    <p><strong>Важно!</strong> В DBT считается, что суицидальное поведение, саморазрушительное поведение, импульсивное
      поведение могут быть осмыслены как эффективные, но неадаптивные стратегии человека, помогающие справляться с
      эмоциями. И цель тренинга навыков - расширить набор способов, с помощью которых можно регулировать эмоции.</p>
    <h3>Какие проблемы решает индивидуальная психотерапия, а какие - тренинг навыков?</h3>
    <p>Тренинг навыков помогает человеку приобрести недостающие навыки, которые мешают ему эффективно решать свои
      задачи:</p>
    <ul>
      <li>Навыки эмоциональной саморегуляции</li>
      <li>Навыки перенесения дистресса</li>
      <li>Навыки межличностного общения</li>
      <li>Навыки психической вовлеченности (сознательного восприяния наблюдения за собой и окружающим миром)</li>
    </ul>
    <p>Индивидуальная терапия помогает человеку решить мотивационные проблемы, заменить пограничное поведение на
      эффективное.</p>
  </div>

  <div *ngSwitchCase="2" class="dbt-training__chapter">

  </div>

</ng-container>

<footer>
  <a *ngIf="!!target" class="dbt-training__nav-elem"
     (click)="navigationEl.nativeElement.scrollIntoView({behavior: 'smooth'})"
  >Наверх</a>
</footer>
