<nav class="dbt-training__nav">
  <h1>Marsha M. Linehan, Руководство по тренингу навыков при терапии пограничного расстройства личности</h1>
  <h2 #navigation>
    <span>Содержание</span>
    <div class="dbt-training__nav-toggle"
         [class._visible]="navVisible"
         (click)="navVisible = !navVisible"
    ></div>
  </h2>
  <ol *ngIf="navVisible">
    <li (click)="selectChapter(1)">
      <p class="dbt-training__nav-elem">Тренинг психосоциальных навыков для клиентов с ПРЛ: обоснование</p>
      <p class="dbt-training__nav-elem-subtitle">Зачем нужен тренинг и для кого предназначен?</p>
    </li>
    <li (click)="selectChapter(2)">
      <p class="dbt-training__nav-elem">Практичские аспекты тренинга психосоциальных навыков</p>
      <p class="dbt-training__nav-elem-subtitle">Какие варианты организации тренинга? Какие могут быть виды групп,
        состав ведущих, взаимоотношения между ведущим(и) и индивидуальным терапевтом? Как можно разбить материал на
        модули?</p>
    </li>

    <li (click)="selectChapter(3)">
      <p class="dbt-training__nav-elem">Формат сеанса и начальный этап тренинга навыков</p>
      <p class="dbt-training__nav-elem-subtitle">Из чего состоит сеанс? Что происходит в начале тренинга? Какие есть
        правила участия в тренинге?</p>
    </li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(4)">Применение стратегий структурирования и тренинговых
      процедур
      в контексте тренинга психосоциальных навыков
    </li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(5)">Применение других стратегий и процедур в тренинге
      психосоциальных навыков
    </li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(6)">Схема тренинга психосоциальных навыков: содержание
      сеансов
    </li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(7)">Основные навыки психической вовлеченности</li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(8)">Навыки межличной эффективности</li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(9)">Навыки эмоциональной регуляции</li>
    <li class="dbt-training__nav-elem" (click)="selectChapter(10)">Навыки для перенесения дистресса</li>
  </ol>
</nav>

<ng-container [ngSwitch]="chapter">
  <div #target *ngSwitchCase="1" class="dbt-training__chapter">
    <h2>Глава 1. Тренинг психосоциальных навыков для клиентов с ПРЛ: обоснование</h2>
    <h3>Что такое тренинг навыков?</h3>
    <p>Тренинг навыков это часть <strong>диалектико-поведенческой терапии</strong>, в оригинале Dialectical behavior
      therapy (сокращённо DBT).
      DBT - это программа, разработанная специально для лечения людей с <span title="Пограничное расстройство личности"
                                                                              class="_titlable">ПРЛ</span>.
      Наиболее эффективной формой DBT является сочетание тренинга навыков и индивидуальной психотерапии.
    </p>

    <h4>Основные положения концепции DBT</h4>
    <ul>
      <li>Действительность и сам человек воспринимаются как нечто целое. Поэтому пытаясь изменить поведение, надо
        учитывать как непосредственно само поведение, так и контекст, в котором оно происходит.
      </li>
      <li>Мир не воспринимается как нечто застывшее. Он меняется. В нём есть противоречия, и если их друг с другом
        совместить, получится что-то качественно новое.
        Считается, что проблема людей с <span title="Пограничное расстройство личности" class="_titlable">ПРЛ</span> в
        неумении преодолевать эти противоречия. Главное противоречие - нужно себя полностью принимать и при этом надо
        меняться.
      </li>
    </ul>
    <h3>Откуда берётся ПРЛ?</h3>
    <p>Главной чертой ПРЛ являются проблемы с регуляцией своих эмоций. Это порождает эмоциональную уязвимость, а также
      неадаптивные и неадекватные способы справляться с эмоциями. </p>
    <p>Считается, что ПРЛ возникает, когда совпадает биологическая предрасположенность человека и определённая
      окружающая среда.</p>
    <p><i>Биологически</i> люди с ПРЛ очень чувствительны к эмоциональным раздражителям, остро на них реагируют и
      медленно восстанавливают нормальное эмоциональное состояние.</p>
    <p><i>Среда, в которой воспитывались люди с ПРЛ</i> являлась инвалидизирующей. Инвалидация (<i>in</i> - не,
      <i>valid</i> - значимый) - это когда окружение игнорирует или не признаёт эмоциональные реакции человека.
      Коротко говоря - окружающие систематически не принимают его, когда он выражает эмоции или говорит о них, учат не
      полагаться на свои эмоции ("Ты врёшь, ты этого не чувствуешь").</p>

    <p><strong>Важно!</strong> В DBT считается, что суицидальное поведение, саморазрушительное поведение, импульсивное
      поведение могут быть осмыслены как эффективные, но неадаптивные стратегии человека, помогающие справляться с
      эмоциями. И цель тренинга навыков - расширить набор способов, с помощью которых можно регулировать эмоции.</p>
    <h3>Какие проблемы решает индивидуальная психотерапия, а какие - тренинг навыков?</h3>
    <p>Тренинг навыков помогает человеку приобрести недостающие навыки, которые мешают ему эффективно решать свои
      задачи:</p>
    <ul>
      <li>Навыки эмоциональной саморегуляции</li>
      <li>Навыки перенесения дистресса</li>
      <li>Навыки межличностного общения</li>
      <li>Навыки психической вовлеченности (сознательного восприяния наблюдения за собой и окружающим миром)</li>
    </ul>
    <p>Индивидуальная терапия помогает человеку решить мотивационные проблемы, заменить пограничное поведение на
      эффективное.</p>
  </div>

  <div #target *ngSwitchCase="2" class="dbt-training__chapter">
    <h2>Глава 2. Практические аспекты тренинга психосоциальных навыков</h2>
    <h3>Что лучше - индивидуальный или групповой тренинг навыков?</h3>
    <p>Тренинг навыков отделён от индивидуальной психотерапии, у него есть чёткая цель: обучать человека навыкам.
      Соответственно, формат и содержание тренинга навыков определяется именно этой целью. На тренинге навыков не нужно
      решать личные проблемы (если только это не часть практики осваивамых на данном занятии навыков).
    </p>
    <p>Под индивидуальным тренингом
      навыков подразумевается, что в тренинге участвует один ведущий (психотерапевт) и сам клиент.</p>
    <p><i>За редким исключением, <strong>групповой тренинг предпочтительнее индивидуального</strong></i>, потому что:
    </p>
    <ul>
      <li>Если тренинг навыков индивидуальный, а не групповой, психотерапевту сложнее удержать направленность занятия,
        от
        него требуется гораздо больше самодисциплины и настойчивости.
      </li>
      <li>Клиенты общаются с людьми, которые сталкиваются с похожими проблемами, а <i>валидация</i> и <i>формирование
        группы поддержки</i> оказывают существенное терапевтическое возздействие.
      </li>
      <li>Клиенты могут учиться друг у друга</li>
      <li>Клиенты могут проверить своё умение взаимодействовать с другими людьми</li>
    </ul>
    <h3>Для каких целей лучше открытые группы, а для каких - закрытые?</h3>
    <p><i>Открытые группы</i> всё время могут пополняться новыми людьми.</p>
    <p><i>Закрытые группы</i> имеют стабильный состав.</p>

    <p>Открытые группы лучше подходят для тренинга навыков. В них клиенты учаться справляться с изменениями и с
      недоверием
      к другим.</p>
    <p>Закрытые группы лучше подходят для встреч группы поддержки. Причины:</p>
    <ol>
      <li>Стабильность и постоянство могут развить в членах группы сопротивление к любым переменам.</li>
      <li>В закрытой группе люди более склонны со временем отступать от плана занятий</li>
    </ol>
    <p><strong>В DBT клиенты присоеденяются к группам поддержки после прохождения группового тренинга навыков, ни в коем
      случае не раньше.</strong></p>

    <h3>Из чего состоит тренинг навыков?</h3>
    <p>Всего есть 4 модуля:</p>
    <ol>
      <li>Навыки психической вовлеченности</li>
      <li>Навыки межличностной эффективности</li>
      <li>Новыки эмоциональной регуляции</li>
      <li>Навыки перенесения дистресса</li>
    </ol>
    <p>Последние 3 модуля рассчитаны на 8 недель каждый. Навыки психической вовлеченности изучаются первые 2-3 сеанса и
      затем вспоминаются в начале каждого модуля, встраиваются в другие модули и постоянно повторяются. Потом цикл
      проходится ещё раз, </p>
    <p>Порядок изучения такой, что с каждым модулем постепенно снижается валидация ("узаконивание") эмоциональной боли,
      который испытывает клиент.</p>
    <p>В модуле межличностной эффективности идёт изучение того, как изменить предельно болезненную ситуацию. Модуль
      эмоциональной регуляции учить изменять болезненную реакцию на ситуацию, и что сделать это возможно. Модуль
      перенесения же учит, что можно перенести любую, даже самую сильную боль и жить, несмотря на страдания.</p>

    <h3>Хороша ли однородность группы?</h3>
    <p>Группа при тренинге навыков однородна в том плане, что у всех членов диагноз ПРЛ. В этом есть и плюсы, и
      минусы.</p>
    <p>Минусы:<br>
      - Риск. Люди с ПРЛ намного более эмоциональны, а психотерапия - стресс, и психотерапевтам сложно уследить за
      состоянием всех членов группы<br>
      - Клиенты могут очень болезненно и остро реагировать на услышанные чужие проблемы. <br>
      - На тренинге нет примера человека с адекватным, адаптивным поведением. <br>
      - Клиенты склонны "заражаться" настроением друг друга, и если один пассивен и пессимистичен, то другие будут
      склонны поддаться этому настроению.<br>
    </p>
    <p> Плюсы:<br>
      + Учебный материал получается более узконаправленный, настроенный именно на клиентов с ПРЛ, чем если бы группа
      была однородна.<br>
      + Клиенты общаются с людьми со схожими проблемами<br>

    </p>

    <h3>Что с ведущими?</h3>
    <p>Их должно быть двое. Основная причина в том, чтобы поддерживать друг друга, защищать от эмоционального
      перенапрежения из-за сопротивления пассивности группы, помогать решать конфликты.</p>
    <p>Роли ведущих:<br>
      <i>Основной ведущий</i> начинает встречу, проверяет домашнее задание и рассказывает новый материал. Таже он
      отвечает за распределение времени сеанса, при необходимости переходя от одного клиента к другому.<br>
      <i>Вспомогательный ведущий </i> снижает напряжение в группе, следит за каждым членом группы, помогает в освоении
      навыков, приводит дополнительные примеры.
    </p>
  </div>

</ng-container>

<footer>
  <a *ngIf="!!target" class="dbt-training__nav-elem"
     (click)="navigationEl.nativeElement.scrollIntoView({behavior: 'smooth'})"
  >Наверх</a>
</footer>
