@import './src/assets/styles/styles.scss';

:host {
  height: 100%;
  display: flex;
  
  @include page-content;
}
.app-sidenav-hamburger {
  transition: all 0.2s ease-out;
}
.dbt-training {
  &__left {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
    background-color: #d1f2f7;
  }

  &__right {
    display: inline-block;
    padding: 10px 10px 10px 60px;
  }

}

@media (max-width: 1000px) {
  :host {
    display: block;
  }

  .dbt-training {
    &__left {
      width: 100vw;
    }

    &__right._fixed {
      position: fixed;
    }
  }
}
