<h3>Что такое - навыки психической вовлеченности?</h3>
<p>Психическая вовлеченность, она же осознанность, - это набор <i>ключевых</i> навыков в DBT. Поэтому они изучаются
    самыми
    первыми. Они представляют собой модификацию медитативных упражнений, заимствованных из восточных практик.</p>
<p>Ключевая идея состоит в том, что каждый из нас может принимать правильные решения. Каждый человек уже знает, что для
    него лучше, главное - суметь прислушаться к себе и владеть достаточной информацией об окружающем мире. Для того,
    чтобы
    это сделать нужно особое состояние разума,
    которое называется <i>"мудрый разум"</i>.</p>
<p> Считается, что у человека есть "три разума":</p>
<ul>
    <li><strong>Эмоциональный разум</strong> - это состояние человека, когда все его мысли и поведение контролируются
        преимущественно чувствами, эмоциями.
    </li>
    <li><strong>Рациональный разум</strong> - в нём человек руководствуется преимущественно логикой, фактами,
        интеллектуальным знанием.
    </li>
    <li><strong>Мудрый разум</strong> - интеграция эмоционального и рационального разума. Также сюда включена новая
        составляющая - интуитивное познание.
    </li>
</ul>

<p>Навыки осознанности помогают уравновесить эмоциональный и рациональный разум. Всего их 6 и они разделены на 2
    подгруппы: <strong>что мы делаем</strong> и <strong>как мы это делаем</strong>.</p>
<p>К навыкам <strong>"что"</strong> относятся наблюдение, описание и участие. <strong>Их нельзя совмещать</strong> : не
    получится одновременно наблюдать и
    описывать или описывать и участвовать и т.д.</p>
<p>К навыкам <strong>"как"</strong> относятся "без оценки", "делать одно", "делать эффективное". Их можно применять
    одновременно и по
    отдельности, они не взаимоисключающие.</p>

<p>Цель всех этих навыков - изменить стиль жизни человека, чтобы он участвовал во всех видах своей деятельности
    осознанно. Это снизит импульсивность и число действий, основанных только на эмоциях.</p>
