<h3>Наблюдение - </h3>
<p> от англ. <i>observe</i> - наблюдать, отмечать, следить за, видеть, замечать.</p>
<p>Наблюдение - это <strong>ощущение или восприятие без описания или квалификации своего опыта</strong>. Просто
  замечать, что происходит.
  Уделять внимание событиям, своим эмоциям,
  реакциям. При этом мы не обязательно наблюдаем с целью изменить (прекратить) своё поведение или продлить то, что нам
  нравится. Мы учимся осознанно воспринимать окружающий мир.</p>
<p>Наблюдая, мы сосредотачиваем наше внимание на наблюдаемом. Можно сказать "я
  наблюдаю за тем, что происходит в комнате", но это не совсем то наблюдение, которое нам нужно. <strong>Сосредоточьтесь
    на
    чём-то одном</strong>. Например, положите ладонь на стену и прислушайтесь к ощущениям.</p>
<p>Мы учимся лишь <strong>отмечать ощущения, не облекая их в слова</strong>. В начале это будет сложно, это нормально.
  Но по мере
  практики голос, раздающий названия, будет становиться всё тише и тише.</p>
<p>Также, большинству людей сложно продолжительное время удерживать внимание на чём-то одном. Это нормально, ведь работа
  нашего мозга - постоянно быть начеку и создавать мысли в сознании. Поэтому <strong>отвлекающие мысли будут возникать
    всегда</strong>.
  Фокус в том, что <i>когда какая-то мысль появляется, нужно просто это заметить. Отметить, что мысль возникла и
    попытаться
    вернуть внимание туда, где оно было до возникновения мысли</i>. Так, словно мысли - это облака на небе. Они
  появляются в
  сознанании, позвольте им просто проплыть мимо.</p>

<p>Важно знать, что наблюдение отличается от самого события. Бег и наблюдение за бегом, дыхание и наблюдение за
  дыханием, мышление и наблюдение за мышлением...
</p>
<p>Можно наблюдать то, что проиходит снаружи (внешние события) и то, что внутри (мысли, эмоции, телесные ощущения). И
  то, и другое одинаково важно. Кто-то боится заглядывать внутрь себя. Это тоже нормально. Если это про вас, то
  сосредоточьтесь сначала на внешних наблюдениях, постепенно начиная заглядывать внутрь себя. Если же вы, наоборот,
  сосредоточены на себе и невнимательны к окружаещему, вам тоже будет полезно начать с наблюдения за внешним. </p>
<p>Наблюдение требует некоторой отстранённости наблюдателя от
  происходящего. При этом не должна возникать диссоциация (<a
    href="https://ru.wikipedia.org/wiki/%D0%94%D0%B8%D1%81%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D1%86%D0%B8%D1%8F_(%D0%BF%D1%81%D0%B8%D1%85%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)"
    target="_blank">Диссоциа́ция</a> — психический процесс, относимый к механизмам
  психологической защиты. В результате работы этого механизма человек начинает воспринимать происходящее с ним так,
  будто оно происходит не с ним, а с кем-то посторонним). <strong>Наблюдая за своим сознанием, мы "отступаем" внутрь себя, но не
    смотрим на себя извне</strong>.</p>
<p>Умение замечать внешние события и свои реакции на них помогает справляться с импульсивными поступками,
  автоматическими мыслями, избеганием. А ещё с гнетущими мыслями о прошлом или о будущем - ведь наблюдая, мы
  сосредотачиваемся на настоящем моменте.</p>
<p> Если вам нужно больше информации, то вот здесь есть <a href="https://www.dbtselfhelp.com/html/observe.html"
                                                           target="_blank">хорошие статьи на английском</a></p>

<h3>Практические упражнения из <a
  href="https://docs.google.com/document/d/1cN4dmse8zAw_qX6RVOQCbPvsWBt1eXXVuJnNQETORe0/edit#" target="_blank">рабочей
  тетради</a></h3>
<p>Выберете для себя несколько упражнений (не больше 5) и практикуйте их, пока они не станут частью вашей жизни.
  Упражнения можно менять, главное - не пытайтесь делать всё за раз.</p>

<h4>Кратко</h4>
<ul>
  <li>Обратите внимание на свои телесные ощущения ( что вы видите, слышите, обоняете, осязаете, чувствуете на вкус).
  </li>
  <li>Удерживайте внимание на настоящем моменте, здесь и сейчас.
  </li>
  <li>Контролируйте своё внимание, но не то, что попадает в поле вашего зрения. Не отворачивайтесь ни от чего. Не
    цепляйтесь ни за что взглядом.
  </li>
  <li>Практикуйте безмолвное наблюдение: Наблюдайте за тем, как мысли в вашей голове возникают и исчезают, словно облака
    на небе. Обращайте внимание на то, как ваши чувства нарастают и спадают, словно волны в океане.
  </li>
</ul>

<h4>Подробно</h4>

<h5>Наблюдайте за визуальными образами:</h5>
<ul>
  <li>Лягте на землю и наблюдайте за облаками на небе.</li>
  <li>Прогуливайтесь медленно, делая остановки, чтобы насладиться красивым видом, цветами, деревьями.</li>
  <li>Присядьте на улице. Наблюдайте, кто проходит мимо вас, не поворачивая глаз и головы.</li>
  <li>Обращайте внимание на мимику и жесты другого человека. Воздержитесь от определения его эмоций, мыслей и мотивов.
  </li>
  <li>Смотрите только на глаза, губы или руки другого человека (или животного).</li>
  <li>Подберите листок, цветок или камушек. Присмотритесь к нему, запоминая каждую деталь.</li>
  <li>Найдите что-то приятное взгляду и созерцайте несколько минут.</li>
</ul>

<h5>Наблюдайте за звуками:</h5>
<ul>
  <li>Остановитесь на минутку и прислушайтесь. Вслушайтесь в структуру и форму звуков вокруг вас. Прислушивайтесь к
    тишине между звуками.
  </li>
  <li>Прислушивайтесь к тембру голоса, к плавности или резкости звуков, чёткости или несвязности артикуляции, паузам
    между словами.
  </li>
  <li>Прислушивайтесь к музыке. Наблюдайте за зарождением нот и паузами между ними. Попробуйте вдыхать и выдыхать
    музыку.
  </li>
</ul>

<h5>Наблюдайте за запахами:</h5>
<ul>
  <li>Обратите внимание на запахи вокруг. Поднесите что-то пахучее поближе и запомните запах. Теперь отодвиньте
    подальше. Изменился ли запах?
  </li>
  <li>Во время еды обращайте внимание на её аромат;</li>
  <li>Во время приготовления пищи обращайте внимание на запах специй и других ингредиентов;</li>
  <li>Принимая ванну, принюхайтесь к запаху мыла или шампуня;</li>
  <li>Во время прогулки обратите внимание на запахи в воздухе;</li>
  <li>Подойдите к цветам и вдохните их аромат.</li>
</ul>

<h5>Наблюдайте за вкусами и процессом поглощения пищи:</h5>
<ul>
  <li>Положите что-нибудь в рот и сконцентрируйтесь на вкусе. Подержите это во рту, и наблюдайте за вкусовыми
    ощущениями.
  </li>
  <li>Лизните леденец или что-то другое. Отметьте это короткое ощущение вкуса и послевкусия.</li>
  <li>Съешьте порцию или часть какого-нибудь блюда, смакуя вкус каждого кусочка.</li>
</ul>

<h5>Наблюдайте за своими побуждениями к действию, когда чувствуете желание совершить что-то импульсивное:</h5>
<ul>
  <li>Представьте, что ваши желания - это доска для сёрфинга и вы катаетесь по волнам, стоя на ней.</li>
  <li>Отмечайте все позывы к избеганию кого-то или чего-то.</li>
  <li>Мысленно просканируйте своё тело, прислушиваясь в ощущениям. Где именно отзывается это желание в вашем теле?</li>
  <li>В процессе пережёвывания еды, отмечайте, когда возникает импульс проглотить еду.</li>
</ul>

<h5>Наблюдайте за ощущениями от прикосновений к вашей коже:</h5>
<ul>
  <li>Поглаживайте ногтем свою верхнюю губу. Прекратите поглаживания и отметьте, как много времени пройдёт прежде чем вы
    перестанете чувствовать свою верхнюю губу.
  </li>
  <li>Во время ходьбы отмечайте ощущения от движения - как ваши ступни ударяются о землю, как ноги поднимаются и
    опускаются. Попробуйте ускорить темп и отметьте, как изменятся ощущения.
  </li>
  <li>Сидя на стуле, почувствуйте, как ваши бёдра соприкасаются с поверхностью. Почувствуйте изгибы ваших коленей и
    спины.
  </li>
  <li>Обращайте внимание на всё, что касается вашего тела. Почувствуйте, как обувь касается ваших ног, как одежда
    касается вашего тела.
  </li>
  <li>Потрогайте что-нибудь: стену, ткань, поверхность стола, домашнее животное, человека. Обратите внимание на текстуру
    того, что вы трогаете, на ощущения на вашей коже. Теперь дотроньтесь другой частью тела. Отметьте, как изменились
    ощущения.
  </li>
  <li>Сконцентрируйтесь на ощущениях в вашей груди, животе, плечах.</li>
  <li>Сконцентрируйтесь на той части тела, в которой вы ощущаете зажатость или напряжение.</li>
  <li>Сфокусируйте внимание на точке между вашими глазами.</li>
</ul>


<h5>Наблюдайте за своим дыханием: дышите ровно и мягко, фокусируя внимание на:</h5>
<ul>
  <li>Движениях своего живота.</li>
  <li>На вдохе живот поднимается, так воздух попадёт в нижнюю часть лёгких.</li>
  <li>Когда и верхняя половина лёгких наполнится воздухом, поднимается грудная клетка.</li>
  <li>На выдохе наблюдайте за животом и грудной клеткой. Не утомляйте себя.</li>
  <li>Паузах между вдохами и выдохами.</li>
  <li>На вдохе обратите внимание на короткую паузу в момент, когда ваши лёгкие заполнились воздухом.</li>
  <li>На выдохе обратите внимание на короткую паузу в момент, когда вы выдохнули весь воздух .</li>
  <li>Ощущениях в носу при вдохе и выдохе.</li>
  <li>Дышите с закрытым ртом через нос, наблюдая за ощущениями в ноздрях.</li>

  <li>Дыхании при медленной ходьбе. Дышите нормально.</li>
  <li>Определите длину ваших вдохов и выдохов по количеству шагов. Наблюдайте за дыханием несколько минут.</li>
  <li>Начните удлинять выдох на один шаг. Не выдыхайте через силу, делайте всё естественно.</li>
  <li>Следите за вдохом. Не появилось ли желание сделать более длительный вдох?</li>
  <li>Теперь увеличьте выдох ещё на один шаг. Посмотрите, не увеличился ли вдох. Увеличивайте продолжительность вдоха
    только, если вам это комфортно.
  </li>
  <li>После 20 вдохов верните дыхание к обычной продолжительности.</li>

  <li>Дыхании во время прослушивания музыки.</li>
  <li>Делайте длинные, лёгкие и равномерные вдохи.</li>
  <li>Следите за дыханием, управляйте им, следя за темпом и настроением музыки.</li>
  <li>Не растворяйтесь в музыке, продолжайте следить за собой и своим дыханием.</li>
  <li>Дыхании во время разговора с другом. Следуйте тем же инструкциям, что и с музыкой.</li>
</ul>

<h5>Наблюдайте за потоком мыслей:</h5>
<ul>
  <li>Обращайте внимание на появление мыслей.</li>
  <li>Спросите: «Откуда они пришли?»</li>
  <li>Теперь попробуйте понаблюдать, откуда они приходят.</li>
  <li>Наблюдая за мыслями, обращайте внимание на паузы между ними.</li>
  <li>Представьте, что ваш разум – это небо, а мысли – это облака.</li>
  <li>Наблюдайте, как мысли-облака проплывают мимо, появляясь и пропадая.</li>
  <li>Представьте, что мысли это листья, плывущие по ручью; лодки, плывущие по озеру; вагончики поезда, проносящегося
    мимо.
  </li>
  <li>Когда в голове крутятся беспокойные мысли, переключите внимание на свои телесные ощущения (самые заметные). Потом,
    сохраняя фокус на телесных ощущениях, наблюдайте, как много времени пройдёт, прежде, чем они вас покинут.
  </li>
  <li>Мысленно отделитесь от своего разума.</li>
  <li>Представьте, что вы на вершине горы, а ваши мысли просто камни у подножия.</li>
  <li>Наблюдайте, какие мысли приходят вам в голову.</li>
  <li>Мысленно вернитесь назад в свой разум перед окончанием упражнения.</li>
  <li>Следите за первыми двумя мыслями, которые придут вам в голову.</li>
</ul>
<h5>Представьте, что ваш разум:</h5>
<ul>
  <li>Конвейерная лента, а ваши мысли и чувства движутся вперёд по ней. Кладите каждую мысль или чувство в коробку,
    ставьте обратно на ленту и отпускайте.
  </li>
  <li>Конвейерная лента, а вы сортируете мысли и чувства, появляющиеся на ней. Маркируйте мысли и чувства (например,
    тревожная мысль, воспоминания о прошлом, мысли о матери, планы, чувство злости,
    чувство грусти). Складывайте их в коробки до следующего раза.
  </li>
  <li>Река, а мысли и чувства – это лодки, плывущие по реке. Представьте, как вы сидите на траве и смотрите на
    проплывающие лодки.
    Опишите или дайте название каждой проплывающей лодке
    Постарайтесь не запрыгивать на лодку :)
  </li>
  <li>Железная дорога, а мысли и чувства – это вагончики поезда на ней.
    Опишите или дайте название каждому вагончику. Не садитесь на поезд.
  </li>
</ul>
<h5>Наблюдайте, расширяя восприятие:</h5>
<ul>
  <li>Сделайте вдох, обращая внимание на своё дыхание. Затем, продолжая следить за дыханием, обратите внимание на ваши
    руки. На следующем вдохе, продолжая следить за дыханием и руками, обратите внимание и на звуки вокруг. Продолжайте
    удерживать внимание на этих трёх вещах одновременно.
  </li>
  <li>Удерживайте внимание на этих трёх вещах, подключая другие по своему выбору.</li>
  <li>Удерживая внимание на том, что вы делаете в данный момент, аккуратно расширьте восприятие, чтобы покрыть
    пространство
    вокруг.
  </li>
  <li>Обнимите дерево, ощутите контакт с окружающим миром</li>
  <li>Обратите внимание как одеяло или плед обхватывают вас, пока вы лежите в постели. Постарайтесь воспроизвести эти
    чувства когда будет одиноко и появится желание поделиться нежностью.
  </li>
</ul>
<h5>Откройте сознание своим ощущениям:</h5>

<ul>
  <li>Попробуйте погулять с максимально расширенным восприятием ощущений. Обращайте внимание на всё, что вы слышите,
    видите и чувствуете.
  </li>

  <li>Обращайте внимание на перемещение тела при каждом шаге.</li>
  <li>Обращайте внимание на телесные ощущения при поворотах.</li>
  <li>Во приёма пищи замрите с ложкой или вилкой еды.</li>
  <li>Посмотрите на то, что собираетесь съесть, принюхайтесь.
    Потом, когда будете готовы, положите еду в рот.
  </li>
  <li>Обратите внимание на вкус, текстуру, температуру и даже звуки во время пережёвывания.</li>
  <li>Обратите внимание на то, как изменяются вкус, текстура, температура и даже звуки в процессе пережёвывания.</li>
  <li>Сфокусируйте внимание на всех визуальных ощущения, запахах, прикосновениях, звуках, вкусах и мыслях.
    Наблюдайте, как эти ощущения появляются и пропадают.
  </li>
  <li>Наблюдайте за ощущениями с любопытством, не боритесь с ними.</li>
  <li>Изучите уникальность каждого ощущения.</li>
  <li>Находитесь здесь и сейчас.</li>
  <li>На мгновение отметьте каждое осознаваемое ощущение.</li>
  <li>Про себя обозначьте каждое ощущение: «Я чувствую стул. Стул чувствует меня.» «Я слышу обогреватель. Обогреватель
    слышит меня.» «Я вижу стену. Стена видит меня.» «Я слышу урчание в своём животе. Он слышит меня.»
  </li>
  <li>Когда у вас возникает какое-то чувство, отметьте его. К примеру, «У меня появляется чувство грусти».</li>
  <li>Когда у вас возникает какая-то мысль, отметьте её. К примеру, «У меня появилась мысль, что становится жарко».</li>
  <li>Уделите пару минут практике «бездействующего» разума. Полностью погрузитесь в свои ощущения в настоящий момент,
    отмечая свои чувства и пространство вокруг.
  </li>
  <li>Найдите маленький предмет, который поместится в вашей руке. Положите его на стол перед собой или на колени.
    Смотрите
    на него внимательно - сперва не дотрагиваясь до него, затем возьмите его в руки и рассмотрите со всех сторон и при
    разном освещении. Обращайте внимание на его форму, цвета, размер и другие визуальные характеристики.
  </li>
  <li>Теперь переместите внимание на ваши пальцы и руки, держащие предмет. Отметьте ощущения от прикосновения к
    предмету,
    его текстуру, температуру, его вес.
  </li>
  <li>Положите предмет обратно. Закройте глаза, сделайте медленный и глубокий вдох, затем выдох.</li>
  <li>Теперь откройте глаза. Посмотрите на предмет снова, словно видите его впервые.</li>
  <li>Попробуйте изучить новые грани и ощущения, ощупывая предмет пальцами и ладонями.</li>
  <li>Положите предмет обратно и снова сосредоточьтесь на дыхании.</li>
</ul>
