.mindfulness__practise {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & div {
    width: 300px;
    padding: 5px 15px;
    $border-color: green;
    box-shadow:
    2px 0 0 0 $border-color,
    0 2px 0 0 $border-color,
    2px 2px 0 0 $border-color,   /* Just to fix the corner */
    2px 0 0 0 $border-color inset,
    0 2px 0 0 $border-color inset;
    flex-grow: 1;


    & h5 {
      margin: 0 auto;
      font-size: 1em;
      font-style: italic;
      font-weight: normal;
      color: green;
      text-align: center;
    }
  }

}
