<h2>Описание</h2>

<p> Описание - от англ. <i>describe</i> - ??.</p>
<p>
  Описание - это <strong>???.</strong></p>
  <p>Главная цель описания - научиться <b>???</b>.</p>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Теория
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

<br>
<h3>Практика</h3>

<p>Выберете для себя несколько упражнений (не больше 5) и практикуйте их, пока они не станут частью вашей жизни.
  Упражнения можно менять, главное - не пытайтесь делать всё за раз.</p>
<ul>
  <li>
Опишите то, что вы чувствуете, словами. Когда чувство или мысль возникают в вашем разуме, признайте это. К примеру, скажите про себя: “Мне стало грустно”, или “У меня свело живот”, или “Я подумал, что не смогу этого сделать”.

  </li>
  <li>
Классифицируйте то, что наблюдаете. Давайте всему названия. Если это мысль, отметьте для себя, что это только мысль. Если это чувство - только чувство, не более.

  </li>
  <li>
Отделяйте своё мнение и восприятие от фактов. При наблюдении описывайте “кто”, “что”, “когда” и “где”. Только факты.

  </li>
</ul>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Упражнения
    </mat-panel-title>
  </mat-expansion-panel-header>
<section class="exercise">
  <mat-card class='exercise-card'>
      <mat-card-title class='exercise-card__title'>  Тренируйтесь описывать то, что видите перед собой:
    </mat-card-title>
    <mat-card-content>
      <ul>
    <li>Лягте на землю и смотрите на облака на небе. Найдите в облаках фигуры и опишите, на что они похожи.</li>
    <li>Присядьте на скамью на оживленной улице или в парке. Описывайте по одной черте каждого человека, который проходит мимо.</li>
    <li>
 Найдите объект для наблюдения на природе – листок, каплю воды, животное. Опишите его с максимально возможным количеством деталей.
    </li>
    <li>
        Максимально точно перескажите то, что вам только что сказали.  Проверьте, всё ли вы передали правильно.

    </li>
    <li>
        Опишите лицо человека, когда он кажется злым, испуганным или грустным. Отметьте и опишите форму, движение и положение лба, бровей и глаз; рта и губ; щёк; и т.д.

    </li>
    <li>
        Опишите, что человек сделал или делает прямо сейчас. Будьте очень конкретны. Избегайте описания намерений или последствий поведения, которых вы не наблюдали напрямую. Избегайте оценочных описаний.

    </li>
  </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class='exercise-card'>
      <mat-card-title class='exercise-card__title'>
 Тренируйтесь описывать то, что видите перед собой:
      </mat-card-title>
      <mat-card-content>
          <ul>
              <li>
 Описывайте чувства, которые у вас возникают: «Во мне нарастает чувство гнева».
</li>
              <li>
 Описывайте свои мысли, когда испытываете сильные эмоции: «Я чувствую Х  и думаю Y».
</li>
<li>
 Описывайте свои ответные чувства на чьи-то действия или поступки: «Когда ты делаешь X, я чувствую Y».
</li>
<li>
 Описывайте мысли и чувства, возникающие в ответ на чьи-то поступки: «Когда ты делаешь X,  я чувствую Y и думаю Z».
</li>
<li>
 Опишите максимальное количество своих мыслей при сильных эмоциях.
</li>
          </ul>
      </mat-card-content>
  </mat-card>
  <mat-card class='exercise-card'>
      <mat-card-title class='exercise-card__title'>
 Тренируйтесь описывать своё дыхание:
</mat-card-title>
      <mat-card-content>
          <ul>
              <li>
 При дыхании на вдохе описывайте: «Я делаю вдох, раз». На выдохе описывайте: «Я делаю выдох, раз». Помните, что дышать нужно животом. На начале второго вдоха описывайте: «Я делаю вдох, два». Медленно выдыхайте с мыслью: «Я выдыхаю, два». Повторите 10 раз. Дойдя до 10, вернитесь к отсчету с 1. Если сбиваетесь со счёта, начинайте заново с 1.
</li>
              <li>
 Начните обычный спокойный вдох животом, описывая про себя: «Я делаю обычный вдох». Выдыхайте с осознанием: «Я делаю обычный выдох».  Повторите 3 раза. На четвертом продлите вдох, описывая про себя: «Я делаю длинный вдох». Выдохните с осознанием: «Я делаю долгий выдох». Повторите 3 раза.
</li>
              <li>
 Следите за движением воздуха во время дыхания. Говорите про себя: «Я делаю вдох и слежу за ним от начала до самого конца. Я выдыхаю и слежу за выдохом от начала до самого конца.»
</li>
          </ul>
      </mat-card-content>
  </mat-card>
</section>

</mat-expansion-panel>